.main_cards p {
  display: none;
}
.main_cards:hover p {
  transition: all 10s ease-in-out;
  display: block;
  transform: translate(60%, -50%);
}
.text-issue {
    font-size: clamp(1.625rem, 1.3rem + 1.625vw, 3.25rem);
}
